<!doctype html>
<html>
    <head>
        <%- include('partial-head', {
            title: title,
            name: title,
            description: description,
            url: `https://giro3d.org/${releaseName}/examples/${name}.html`,
            thumbnail: `https://giro3d.org/${releaseName}/examples/screenshots/${name}.jpg`,
        }) %>

        <link rel="stylesheet" type="text/css" href="css/example.css" />
        <%- customcss %>
    </head>
    <body class="bg-light">
        <%- include('navbar-version', { activeId: 'examples' }) %>

        <div class="m-3">
            <!-- Short description (same as in the example card) -->
            <div>
                <p class="text-muted"><%- description %></p>
            </div>

            <!-- 3D view -->
            <div id="main-view" class="border position-relative" style="height: 65vh">
                <%- include('partial-3dview') %>
            </div>

            <!-- Long description (optional) -->
            <% if (long_description) { %>
            <div class="my-3">
                <p><%- long_description %></p>
            </div>
            <% } %>

            <!-- Source code -->
            <% if (highlightedJsCode) { %>
            <span class="badge text-bg-primary mt-3 mb-1">index.js</span>
            <div
                class="border rounded p-3 position-relative mb-3"
                id="source"
                style="background-color: #ffffff"
            >
                <span class="position-absolute top-0 end-0 p-2">
                    <button
                        type="button"
                        class="btn btn-outline-secondary"
                        onclick="copyContentByID('source')"
                    >
                        <i class="bi bi-copy"></i>
                    </button>
                </span>
                <%- highlightedJsCode %>
            </div>
            <% } %>

            <!-- HTML code -->
            <% if (highlightedHtmlCode) { %>
            <span class="badge text-bg-primary mt-3 mb-1">index.html</span>
            <div
                class="border rounded p-3 position-relative mb-3"
                id="source-html"
                style="background-color: #ffffff"
            >
                <span class="position-absolute top-0 end-0 p-2">
                    <button
                        type="button"
                        class="btn btn-outline-secondary"
                        onclick="copyContentByID('source-html')"
                    >
                        <i class="bi bi-copy"></i>
                    </button>
                </span>
                <%- highlightedHtmlCode %>
            </div>
            <% } %>

            <!-- package.json code -->
            <% if (highlightedPackageCode) { %>
            <span class="badge text-bg-primary mt-3 mb-1">package.json</span>
            <div
                class="border rounded p-3 position-relative mb-3"
                id="source-package-json"
                style="background-color: #ffffff"
            >
                <span class="position-absolute top-0 end-0 p-2">
                    <button
                        type="button"
                        class="btn btn-outline-secondary"
                        onclick="copyContentByID('source-package-json')"
                    >
                        <i class="bi bi-copy"></i>
                    </button>
                </span>
                <%- highlightedPackageCode %>
            </div>
            <% } %>
        </div>
    </body>
</html>
